---
import type ComponentBaseProps from '@/components/astro/theme/types/ComponentBaseProps'
import createElementStyle from './theme/createElementStyle'

interface Props
    extends ComponentBaseProps,
        astroHTML.JSX.AnchorHTMLAttributes {}

const {
    class: className,
    size = 'default',
    variant = 'default',
    ...props
} = Astro.props

const style = createElementStyle(
    {
        element: 'a',
        size,
        variant,
    },
    className ?? ''
)
---

<a class:list={style} {...props}><slot /></a>
