---
import Layout from '../layouts/Layout.astro'
import About from '../components/About.astro'
import Education from '../components/Education.astro'
import WorkExperience from '../components/WorkExperience.astro'
---

<Layout title="Welcome to Astro.">
    <div>
        <About />
        <Education />
        <WorkExperience />
    </div>
</Layout>
