---

---
<div>
	<img 
	src="/public/myphoto.jpg"
	/>
	<p>
		Computer Science student at University of Milan and currently working as frontend developer.
		I love the open source community and I'm always looking for new challenges.
		NeoVim adept and Linux enthusiast (currently on NixOS).
	</p>
</div>

<style>
	img { 
		/**
* Circular image
		*/
		width: 10rem;
		clip-path: circle(50% at 50% 50%);
	}

	div {
		display: flex;
		justify-content: center;
		align-items: center;
	}
</style>
