---
import { getCVInformation } from '../utils/getCVInformation'

const cvInformation = getCVInformation()
---

<div class="grid grid-cols-2">
    <img
        class="h-60 w-60 rounded-lg shadow-xl dark:shadow-gray-800"
        src="/myphoto.jpg"
    />
    <div class="flex flex-col">
        <h1>About me</h1>
        <p>
            {cvInformation.About}
        </p>
    </div>
</div>

<style>
    div {
        display: flex;
        justify-content: center;
        align-items: center;
    }
</style>
