---
import { getCVInformation } from '../utils/getCVInformation'

const cvInformation = getCVInformation()
---

<div class="grid grid-cols-2 grid-flow-row-dense items-center justify-center">
    <img
        class="h-60 w-60 rounded-lg shadow-xl dark:shadow-gray-800"
        src="/myphoto.jpg"
    />
    <div class="flex flex-col">
        <h1>About me</h1>
        <p>
            {cvInformation.About}
        </p>
    </div>
</div>
