---

---
<p>
	Computer Science student at University of Milan and currently working as frontend developer.
	I love the open source community and I'm always looking for new challenges.
	NeoVim adept and Linux enthusiast (currently on NixOS).
</p>
