---
const json = JSON.parse(import.meta.env.CV_JSON)
---
<div>
	<img 
	src="/myphoto.jpg"
	/>
	<p>
		{
		json.about
		}
	</p>
</div>

<style>
	img { 
		/**
* Circular image
		*/
		width: 10rem;
		clip-path: circle(50% at 50% 50%);
	}


	div {
		display: flex;
		justify-content: center;
		align-items: center;
	}
</style>
