---
import { getCVInformation } from '../utils/getCVInformation'

const cvInformation = getCVInformation()
---

<section>
    <h2>Education</h2>
    <ol>
        {
            cvInformation.Education.map(({ major, period, location }) => {
                return (
                    <li>
                        <p>
                            {major} - {location} -
                            {period.start.toLocaleDateString()}
                        </p>
                    </li>
                )
            })
        }
    </ol>
</section>

<style>
    ol,
    li {
        list-style: none;
    }
</style>
