---
import { getCVInformation } from '../utils/getCVInformation'
import Card from './Card.astro'

const cvInformation = getCVInformation()
---

<section>
    <h2 class="text-2xl">Education and work experiences</h2>
    <ol class="grid grid-cols-2 gap-4">
        {
            cvInformation.Experiences.map((education) => {
                return (
                    <li>
                        <Card
                            title={`${education.name} (${education.period?.toString()})`}
                            body={education.description}
                        />
                    </li>
                )
            }).reverse()
        }
    </ol>
</section>
