---
import { getCVInformation } from '../utils/getCVInformation'
const cvInformation = getCVInformation()
---

<footer>
    <ol>
        {
            cvInformation.Contacts.map(({ logo, profile_url }) => {
                return (
                    <li>
                        <a href={profile_url}>
                            <img src={logo} />
                        </a>
                    </li>
                )
            })
        }
    </ol>
</footer>

<style>
    img {
        height: 2em;
        width: 2em;
    }

    ol,
    li {
        list-style-type: none;
    }

    footer {
        display: flex;
        position: fixed;
        position: -webkit-sticky;
        bottom: 0;
    }
</style>
