---
import Button from '@/components/Button.astro'
// import { ThemeToggle } from '@/components/ThemeToggle';

const navItems = [
    { id: 'home', label: 'Home' },
    { id: 'resume', label: 'Resume' },
    { id: 'projects', label: 'Projects' },
    { id: 'contact', label: 'Contact' },
]
---

<nav
    class="fixed top-0 left-0 right-0 bg-background/95 backdrop-blur supports-[backdrop-filter]:bg-background/60 border-b border-border z-50"
>
    <div class="max-w-6xl mx-auto px-4 sm:px-6 lg:px-8">
        <div class="flex justify-between items-center h-16">
            {/* Logo */}
            <div class="flex-shrink-0">
                <h1 class="text-xl font-bold text-foreground">Portfolio</h1>
            </div>

            {/* Desktop Navigation */}
            <div class="hidden md:block">
                <div class="ml-10 flex items-center space-x-8">
                    {
                        navItems.map((item) => (
                            <a
                                onclick="() => scrollToSection(item.id)()"
                                href={`#${item.id}`}
                                class="text-muted-foreground hover:text-foreground transition-colors story-link"
                            >
                                {item.label}
                            </a>
                        ))
                    }
                    <!-- <ThemeToggle /> -->
                </div>
            </div>

            {/* Mobile menu button and theme toggle */}
            <div class="md:hidden flex items-center space-x-2">
                <!-- <ThemeToggle /> -->
                <Button variant="ghost" size="icon" class="hover-scale">
                    <!-- { -->
                    <!--     isMenuOpen ? ( -->
                    <!--         <X class="h-6 w-6" /> -->
                    <!--     ) : ( -->
                    <!--         <Menu class="h-6 w-6" /> -->
                    <!--     ) -->
                    <!-- } -->
                    Test
                </Button>
            </div>
        </div>
        <div class="md:hidden">
            <div class="px-2 pt-2 pb-3 space-y-1 border-t border-border">
                {
                    navItems.map((item) => (
                        <a
                            href={`#${item.id}`}
                            class="block w-full text-left px-3 py-2 text-muted-foreground hover:text-foreground transition-colors"
                        >
                            {item.label}
                        </a>
                    ))
                }
            </div>
        </div>
    </div>
</nav>
