---
import { getCVInformation } from '../utils/getCVInformation'
import Card from './Card.astro'
import CardContent from './CardContent.astro'
const cv = getCVInformation()
const skillsMap = cv.Experiences.reduce((accumulator, { projects }) => {
    for (const project of projects) {
        for (const technology of project.technologies) {
            const currentCount = accumulator.get(technology.name)

            if (undefined !== currentCount) {
                accumulator.set(technology.name, currentCount + 1)
            } else {
                accumulator.set(technology.name, 1)
            }
        }
    }

    return accumulator
}, new Map<string, number>())

const skills = []

for (const [skill, count] of skillsMap) {
    skills.push({ skill, count })
}

skills.sort((a, b) => b.count - a.count)

const total = skills.reduce((acc, { count }) => acc + count, 0)
---

{
    skills.map((skill) => (
        <li class="h-full">
            <Card>
                <div class="h-1 w-full bg-neutral-200 dark:bg-neutral-600 ">
                    <h3>{skill.skill}</h3>
                    <div
                        class="h-1 bg-green-500"
                        style={`width: ${Math.trunc((skill.count / total) * 100)}%`}
                    />
                </div>
            </Card>
        </li>
    ))
}
