---
import { Sun, Moon } from '@lucide/astro'
import Button from './Button.astro'
---

<Button variant="ghost" size="icon" class="hover-scale" id="theme-toggle">
    <Sun
        class="sun dark:hidden h-[1.2rem] w-[1.2rem] rotate-0 scale-100 transition-all dark:-rotate-88 dark:scale-0"
    />
    <Moon
        class="moon absolute h-[1.2rem] w-[1.2rem] rotate-90 scale-0 transition-all dark:rotate-0 dark:scale-100"
    />
    <span class="sr-only">Toggle theme</span>
</Button>

<script>
    ;(() => {
        const togglers = document.querySelectorAll('#theme-toggle')
        if (!togglers.length) {
            return
        }

        if (1 < togglers.length) {
            throw new Error('There should be only one instance of ThemeToggle')
        }

        console.log('togglers', togglers)

        let currentTheme: 'dark' | 'light' = window.matchMedia(
            '(prefers-color-scheme: dark)'
        ).matches
            ? 'dark'
            : 'light'

        if ('dark' === currentTheme) {
            document.documentElement.classList.add(currentTheme)
        }

        function toggle() {
            console.log('currentTheme', currentTheme)
            if (currentTheme === 'dark') {
                currentTheme = 'light'
            } else {
                currentTheme = 'dark'
            }
            document.documentElement.classList.toggle('dark')
        }

        togglers.forEach((toggler) => toggler.addEventListener('click', toggle))
    })()
</script>
